@{
    ViewData["Title"] = "My Bookings";
}

<div class="container">

    <div class="row my-5">
        <div class="col-md-6">
            <h1 class="display-4">My Bookings</h1>
            </<div></div></div>
