<div class="alert alert-info">
    <h4 class="alert-heading">No Bookings Found</h4>
    <p>You haven't made any bookings yet. Are you sure you confirmed your tickets in your Flight Basket?</p>
    <hr>
    <p class="mb-0">
        <a asp-controller="Search" asp-action="Search" class="btn btn-dark">Search Flights</a>
    </p>
</div>