@model Airways.ViewModels.FlightSearchVM
@{
    ViewData["Title"] = "Search a flight";
}
<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <h3 class="small-header">Search a flight</h3>
            <hr />
            <div class="alert alert-info d-flex align-items-center" role="alert">
                <i class="bi bi-info-circle me-3 fs-4"></i>
                <div>
                    <strong>STEP 1: </strong>Choose your departure, destination and search period
                </div>
            </div>
            <div id="search-form-container">
                @await Html.PartialAsync("_FlightSearch", Model)
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-8" id="search-results-container">
            @if (Model.SearchResults != null)
            {
                @await Html.PartialAsync("_SearchResults", Model.SearchResults)
            }
        </div>
        <div class="col-4" id="booking-details-container">
            
        </div>
    </div>
</div>

<script>
    function updateTotalPrice() {
        var selectedClassPrice = parseFloat($('input[name="TravelClass"]:checked').data('price'));
        var mealPrice = $('#mealSelection').val() ? 35.0 : 0.0;
        var totalPrice = selectedClassPrice + mealPrice;

        $('#displayTotalPrice').text('€' + totalPrice.toFixed(2));
        $('#totalPriceInput').val(totalPrice);
    }

    
    </script>